/*
Student Name: Palash Tayade
Student ID: 44498632
*/

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.wrapper {
  max-width: 300px;
  margin: 50px auto;

  p {
    font-size: 16px;
    line-height: 20px;
  }
}

.nav ul {
  list-style: none;
  background-color: #0f2875;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  text-align:center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}



.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.a{
  text-decoration: none;
  color: white;
  font-size:0.9em;
  transition: .3s background-color;
}

.a:hover{

  background-color:orange;
}

.button{
    margin:0px;
    padding:0px;
    border:0px;
    margin-bottom:0px;

	background-color:#0f2875
}

.searchFirstContainer{
    max-width: 1540px;
	padding: 20px;
	margin: 0px;
	height:220px;
	background-color:#0f2875;
}

.searchSecondContainer{
    max-width: 86.75%;
	padding: 20px;
	margin-left: 75px;
	margin-top:0px;
	height:175px;
	background-color:#0f2875
}

.searchThirdContainer{
    max-width: 1100px;
	padding: 3px;
	margin-left: 85px;
	height:175px;
	background-color:#0f2875
}


.imgFirstContainer{
    max-width: 1540px;
	padding: 20px;
	margin: 0px;
	height:450px;
	background-color:white;
}

.imgSecondContainer{
    width: 86.75%;
	padding: 20px;
	margin-left:70px;
	margin-top:0px;
	height:90%;
	margin-bottom:15%;
	background-color:white;
}

.imgSecondContainer div:empty{
    display:node;
}

.imgThirdContainer{
    max-width: 1100px;
	padding: 5px;
	margin-left: 85px;
	height:95%;
	background-color:white;
}

.tableFirstContainer{
    max-width: 1540px;
	padding: 20px;
	margin: 0px;
	height:1100px;
	background-color:#0f2875;


}

.tableSecondContainer{
    width: 86.75%;
	padding: 20px;
	margin-left:70px;
	margin-top:0px;
	height:90%;
	margin-bottom:15%;
	background-color:#0f2875;
	overflow: auto;
}

.tableThirdContainer{
    max-width: 1100px;
	padding: 5px;
	margin-left: 85px;
	height:450px;
	background-color:white;
}

#backButton{
    max-width:1100px;
    padding: 5px;
	margin-left:110px;
	margin-top:0px;
	margin-bottom:5%;
	height:10px;

}



.text-center {
    text-align: center;

}

.textProperty{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:white;

}
.textProperty1{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:black;

}

.searchThirdContainerFirstCol{

    width:17.25%;
    margin-left:5%;
    margin-right:0%;

    height:80%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:white;
    float:left;

}

.label{

    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

.searchTextbox {
    width: 250px;
    margin-left:5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/searchTextbox.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.helloUser{
    color:white;
    width: 30%;
    padding: 0;
    margin: 0;

    height: 50px;
    outline: none;
    text-align: center;
}

.logoutButton{
    width: 30%;
    padding: 0;
    margin: 0;

    height: 50px;
    outline: none;
    text-align: center;
    background-color:#ff6600


}

.loginTextbox {
    width: 30%;
    padding: 0;
    margin: 0;
    left-margin:0px;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid #0f2875;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-align: center;
}



.loginButton{
    width: 30%;
    padding: 0;
    margin: 0;
    left-margin:0px;
    height: 50px;
    outline: none;
    text-align: center;
    background-color:#ff6600
}
.loginButton:hover {
         background: #ff8330;
    }

.loginDiv{
    width: 40%;
    padding: 0;
    margin: 0;
    left-margin= 50px;
    height: 50px;
    box-sizing: border-box;
    float:right;

}

input[type=text]:focus {
    border: 3px solid #555;
}

.searchThirdContainerSecondCol{

    width:25%;
    margin-left:2.5%;

    height:80%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:0f2875;
    float:left;

}

.searchTC-SC-whatLabel{

    width:50%;
    margin-right:5%;
    margin-left:5%;
    height:20%;
    margin-top:2%;
    margin-bottom:5%;

    float:left;

}

.searchTC-SC-whatTextbox{
    width:60%;
    margin-right:5%;
    margin-left:5%;
    height:33%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:white;
    float:left;
}

.searchTC-SearchButton{
    width:15%;
    margin-left:5%;
    margin-right:2.5%;
    height:5%;
    margin-bottom:5%;

    background-color:#0f2875;
    float:left;

}

.firstContainer{
    max-width: 1540px;
	padding: 20px;
	margin: 0px;
	height:120px;
	background-color:white;
background-image: url("/images/headerImage.jpg");

}

.secondContainer{
    max-width: 1275px;
	padding: 20px;
	margin-left: 80px;
	margin-top:0px;
	height:75px;
	background-color:#fff

background-image: url("/images/headerImage.jpg");
}

.optionsContainer {
	max-width: 310px;
	padding: 0px;
	margin-left: 450px;
	margin-top:0px;
	height:50px;
	background-color:#fff

background-image: url("/images/headerImage.jpg");
}

.logoContainer {
	max-width: 210px;
	padding: 0px;
	margin: 0px;
	height:153px;
	background-color:#ccc
}

#imageMainContainer{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:90%;
    margin-top:5%;
    margin-bottom:5%;
}

.img{
    width:150px;
    height:150px;
    margin-left:23%;
}

#imageFirstColumn{
    width:25%;
    margin-left:7%;
    margin-right:5%;

    height:80%;
    margin-top:5%;
    margin-bottom:5%;

    background-color:white;
    float:left;
}
#imageSecondColumn{
    width:25%;
    margin-right:5%;

    height:80%;
    margin-top:5%;
    margin-bottom:5%;

    background-color:white;
    float:left;
}
#imageThirdColumn{
    width:25%;
    margin-right:5%;

    height:80%;
    margin-top:5%;
    margin-bottom:5%;

    background-color:white;
    float:left;
}


.footerMainContainer{
    max-width: 1540px;
	padding: 20px;
	margin: 0px;
	height:500px;
	background-color:#0f2875;
}

.footerFirstContainer{
    width: 90%;
	padding: 5px;
	margin-left: 60px;
	margin-top:5px;
	height:70%;
	background-color:#0f2875;
}


#footerFirstColumn{

    width:20%;
    margin-left:7%;
    margin-right:2%;

    height:75%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:#0f2875;
    float:left;
}
#footerSecondColumn{
    width:20%;
    margin-right:2%;

    height:75%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:#0f2875;
    float:left;
}
#footerThirdColumn{
    width:20%;
    margin-right:2%;

    height:75%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:#0f2875;
    float:left;
}
#footerFourthColumn{
    width:20%;
    margin-right:2%;

    height:75%;
    margin-top:2%;
    margin-bottom:5%;

    background-color:#0f2875;
    float:left;
}

.footerSecondContainer{
    width: 90%;
	padding: 5px;
	margin-left: 30px;
	margin-top:5px;
	height:20%;
	margin-bottom:0%;
	background-color:#0f2875;
	color:white;
}

.line{
width: 90%;
height: 47px;
border-bottom: 1px solid white;
position: absolute;
}

.table{
width:40%;
text-align:center;
align:center;
}





@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.0em;
    text-align:center;
  }
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
