<!--
Student Name: Palash Tayade
Student ID: 44498632
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome to Jobs</title>
		<link rel="icon" href="/images/logo2.png" type="image/jpg" sizes="32x32">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>

		<nav class="nav">
			  <ul>
				<li><a href="#">Register</a></li>
                  <li><a href="/about">About</a></li>
			  </ul>
		</nav>

		<div class="firstContainer">
			<div class="secondContainer">
				<div class="optionsContainer">
					<div><h2 style="align:center"><a class="a" href="#">Courses</a> | <a class="a" href="#">Post a job</a> | <a class="a" href="#">Business</a></h2></div>
				</div>
			</div>
        </div>
        <div  class="tableFirstContainer" >
			<div class="tableSecondContainer">
                <h4 class="textProperty">Jobs is a new, exciting, job posting service like nothing you've seen before!</h4>
				<br><br>
				<img src="/images/about-us.jpg" alt="data privacy" height="700" width="1300">
				<h4 class="textProperty">Jobs is multicultural group of companies that strives, to provide the best of opportunity for job seekers
				and world class service for our customers. We understand that we are responsible for keeping your data private and have hence insured that
					rigorous security mechanisms are in place.</h4><br><br>

            </div>
        </div>

	<div  class="footerMainContainer">
			<div class="footerFirstContainer">
				<div class="textProperty" id="footerFirstColumn"><h3>About CareerBest</h3>
				<h4>Vision</h4>
					<p style="textProperty">To be the world's leading jobs employment service platform.</p>
					<h4>Mission</h4>
					<p style="textProperty">Empowering people to build their career by bridging requirements to opportunities.</p>
				</div>
				<div class="textProperty" id="footerSecondColumn"><h3>For Job Seeker</h3>
					<ul class="ul">
						<li><span><a href="#" >Find Jobs</a></span></li>
						<li><a href="#">Upload Resume</a> </li>
						<li><a href="#">Salary</a> </li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
				<div class="textProperty" id="footerThirdColumn"><h3>For Employers</h3>
				<ul class="ul">
						<li><a href="#">Post Job</a> </li>
						<li><a href="#">Search Resume</a> </li>
						<li><a href="#">Site Map</a> </li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</div>
				<div class="textProperty" id="footerFourthColumn"><h3>Helpful Resources</h3>
					<ul class="ul">
						<li><a href="#">Contact Us</a> </li>
						<li><a href="#">Terms of Use</a> </li>
						<li><a href="#">Privacy Center</a> </li>
						<li><a href="#">AdChoices</a></li>
					</ul>
				</div>
			</div>
			<div class="footerSecondContainer">

			<div class="line"></div><br><br><br>
				<p align="center"> Copyright © 2018 - CareerBest Worldwide </p>
			</div>
		</div>

    </body>
</html>